{% extends "Common/common.html.twig" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="../../Views/css/adminView.css">
{% endblock %}
{% block contenido %}
<div id="primero" class="modulo"><a href="../../Controller/Gestion/gestionApp.php"><img>Gestion Restaurante</a></div>
<div class="modulo"><a href="../../Controller/Gestion/gestionFacturas.php"><img>Gestion Facturas</a></div>
<div class="modulo"><a href="../../Controller/Cocina/cocina.php"><img>Cocina</a></div>
<div id="primero" class="modulo"><a href="../../Controller/Workspace/workspace.php"><img>Workspace</a></div>
{% endblock %}