{% extends "Common/common.html.twig" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="../../Views/css/adminView.css">
<script type="text/javascript" src="../../Views/js/adminView.js"></script>
{% endblock %}
{% block contenido %}
<div class="cheat" ng-controller="Controller">
    <canvas id="lienzo" ng-show="konamiCodeYeah" width="580" height="150">
</div>
<audio id="audio" src="../../Views/img/nyancat.mp3" type="audio/mpeg"></audio>
<div id="wrapper">
    <a href="../../Controller/Gestion/gestionApp.php"><div class="modulo"><img src="../../Views/img/engranajes.svg">Gestion Restaurante</div></a>
    <div class="underConstruction"><!--<a href="../../Controller/Gestion/gestionFacturas.php">--><img src="../../Views/img/underconstruction.svg">Gestion Facturas<!--</a>--></div>
    <a href="../../Controller/Cocina/cocina.php"><div class="modulo"><img src="../../Views/img/cocina.svg">Cocina</div></a>
    <a href="../../Controller/Workspace/workspace.php"><div class="modulo"><img src="../../Views/img/workspace.svg">Workspace</div></a>
</div>
{% endblock %}