<!-- Aqui vendra la seccion html donde el admin podra elegir a que parte de la app ir -->
{% extends common/common.html %}
{% block contenido %}
<section>
    <div><a href="../Controller/gestionRestaurante.php">asdasddas</a></div>
    <div><a href="../Controller/gestionFacturas.php">asdasdas</a></div>
    <div><a href="../Controller/cocina.php">asdasd</a></div>
    <div><a href="../Controller/workspace.php">assaasd</a></div>
</section>
{% endblock %}