{% extends "Common/common.html.twig" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="../../Views/css/adminView.css">
{% endblock %}
{% block contenido %}
<div class=""><a href="../../Controller/Gestion/gestionApp.php">Gestion Restaurante</a></div>
<div><a href="../../Controller/Gestion/gestionFacturas.php">Gestion Facturas</a></div>
<div><a href="../../Controller/Cocina/cocina.php">Cocina</a></div>
<div><a href="../../Controller/Workspace/workspace.php">Workspace</a></div>
{% endblock %}