{% extends "Common/common.html.twig" %}
{% block header %}
<script type="text/javascript" src="../../Views/js/cocina.js"></script>
{% endblock %}


{% block contenido %}
<div id="listado">
    {% include ('Cocina/listadococina.html.twig') %}
</div>
{% endblock %}