{% extends "Common/common.html.twig" %}

{% block header %}
<script type="text/javascript" src="../../Views/js/workspace.js"></script>
{% endblock %}

{% block contenido %}
<navbar>
    <div>
        <ul>
            {% include 'Workspace/listadoUsuarios.html.twig' %}
        </ul> 
</navbar>

<div id="pedidos">
{% include 'Workspace/pedidoWS.html.twig' %}
</div>

<div id="modal" class="hiddenWS">
    <div class="backModal"></div>
    <div>
    {% include 'Workspace/modalProductos.html.twig' %}
    </div>
</div>

{% endblock %}