{% extends "Common/common.html.twig" %}
{% block contenido %}
<navbar>
    <ul>
        <li><a href="../../Controller/Gestion/gestionApp.php">Productos</a></li>
        <li><a href="../../Controller/Gestion/gestionUsuarios.php">Usuarios</a></li>
    </ul>
</navbar>

<!-- Tools, en esta seccion mostrara las herramientas para ordenar y buscar  -->
<section>
    <div></div>
</section>


<!-- -->
<section>
    
{% if target == "usuarios" %}
    {% include ('Gestion/listadousuarios.html.twig') %}
{% elseif target == "productos" %}
    {% include ('Gestion/listadoproductos.html.twig') %}
{% endif %}
</section>

{% endblock %}