{% extends "Common/common.html.twig" %}
{% block header %}
<script type="text/javascript" src="../../Views/js/usuario.js"></script>
<script type="text/javascript" src="../../Views/js/categoria.js"></script>
<script type="text/javascript" src="../../Views/js/producto.js"></script>
<link rel="stylesheet" type="text/css" href="../../Views/css/gestionApp.css">
{% endblock %}
{% block contenido %}
<navbar>
    <ul>
        <li class="gestionProducto activated">Productos</li>
        <li class="gestionUsuario">Usuarios</li>
    </ul>
    <div>
        <input id="buscador" type="text"><img class="icon" src="../../Views/img/lupa.jpg">
    </div>
</navbar>

<div class="successRespuesta hidden" id="success">La consulta ha sido un éxito.</div>
<div class="errorRespuesta hidden" id="error">Error al insertar en base de datos.</div>
<div class="errorRespuesta hidden" id="error1">Error al enviar el formulario.</div>
<div class="errorRespuesta hidden" id="error2">Error desconocido.</div>

<!-- -->
<section id="listado">
{% if target == "usuarios" %}
    {% include ('Gestion/listadousuarios.html.twig') %}
{% elseif target == "productos" %}
    {% include ('Gestion/listadoproductos.html.twig') %}
{% endif %}
</section>
{% endblock %}