{% extends "Common/common.html.twig" %}
{% block header %}
<script type="text/javascript" src="../../Views/js/usuario.js"></script>
<script type="text/javascript" src="../../Views/js/producto.js"></script>
<script type="text/javascript" src="../../Views/js/categoria.js"></script>
<link rel="stylesheet" type="text/css" href="../../Views/css/gestionApp.css">
{% endblock %}
{% block contenido %}
<navbar>
    <ul>
        <li><a href="../../Controller/Gestion/gestionApp.php">Productos</a></li>
        <li><a href="../../Controller/Gestion/gestionUsuarios.php">Usuarios</a></li>
    </ul>
</navbar>

<div class="success" id="success">La consulta ha sido un éxito.</div>
<div class="error" id="error">Error al insertar en base de datos.</div>
<div class="error" id="error1">Error al enviar el formulario.</div>
<div class="error" id="error2">Error desconocido.</div>

<!-- Tools, en esta seccion mostrara las herramientas para ordenar y buscar  -->
<section>
    <div></div>
</section>


<!-- -->
<section id="listado">
{% if target == "usuarios" %}
    {% include ('Gestion/listadousuarios.html.twig') %}
{% elseif target == "productos" %}
    {% include ('Gestion/listadoproductos.html.twig') %}
{% endif %}
</section>

{% endblock %}