<div>
   <form>
        <input type="text" name="newusuario" placeholder="usuario" required autofocus>
        <input type="password" name="newpassword" required>
        <select name="newtipo">
            <option value="usuario" selected>Usuario</option>
            <option value="cocina">Cocina</option>
            <option value="administrador">Administrador</option>
        </select>
        <input type="submit" name="newusuario">
    </form>
</div>
<ul>
    <li></li>
</ul>