.contenido {
    display: flex;
    padding: 0 10% 0 10%;
    align-items: center;
    flex-wrap: wrap;
}


#wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.modulo {
    
    width: 140px;
    height: 175px;
    margin: 25px 50px;
    border: 2px solid #3e0404;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px black;
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    text-align: center;
    transition: all 0.01s;
    background-color: rgba(219, 204, 184, 0.44);
}

.underConstruction {
    
    width: 140px;
    height: 175px;
    margin: 25px 50px;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    text-align: center;
    background-color: grey;
    opacity: 0.7;
}

#wrapper>a {
    
    text-decoration: none;
    color: black;
}

img {
    width: 130px;
    height: 130px;
}

.modulo:hover {
	box-shadow: 0px 0px 15px 2px #3e0404;
}

.modulo:active {
    box-shadow: 0px 0px 5px 2px #3e0404 inset;
    height: 173px;
    width: 138px;
    margin: 26px 51px;
    
}

.cheat {
    margin: 0 auto;
}
