.contenido {
	overflow-y: auto;
    max-height: 550px;
}

.contenido::-webkit-scrollbar {
    width: 8px;
	background-color: #ffffff;
}

.contenido::-webkit-scrollbar-thumb {
	border-radius: 3px;
    background-color: #5d0606;
}


.icon {
    width: 50px;
    height: 50px;
}

ul {
    padding: 15px 50px;
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 3px solid black;
    margin-top: 10px;
    
}

ul li div {
    width: 50%;
}

h1 {
    margin: 0;
    padding: 0;
}

ul li div p {
    margin: 5px 0;
    padding: 0;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}