* {
    font-family: "Georgia", Times, serif;
    font-size: 16px;
}

body {
     
    /*background: linear-gradient(to right, #d1bb80 0%, #efefef 30%, #efefef 70%, #d1bb80 100%);*/
    background-color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    
}

h1, h2, h3, h4, h5 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 1.6em;
    font-weight: 600;
}

.container {
    padding: 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

header {
    
    display: flex;
    align-items: center;
    height: 100px;
    background: linear-gradient(to bottom, #4a578b 0%, #eef5ff 40%, #eef5ff 65%, #4a578b 100%);
    width: 100%;
    margin: 25px auto 0 auto;
    border-left: 1px solid #212743;
    border-right: 1px solid #212743;
    border-top: 5px solid #212743;
    border-bottom: 5px solid #212743;
    box-shadow: 0px 0px 20px 2px #4a578b;
    
}

footer {
    
    height: 50px;
    border: 1px solid black;
    background: linear-gradient(to bottom, #4a578b 0%, #eef5ff 40%, #eef5ff 60%, #4a578b 100%);
    box-shadow: 0px 0px 20px 1px #4a578b;
    
}

ul {
    
    list-style: none;
    margin: 0;
}

.autor {
    float: right;
    margin-right: 10px;
}

.contenido {
    
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 550px;
    box-shadow: 0px 0px 10px 1px #4a578b;
    
    
}

.tituloHeader {
    
    width: 100%;
    padding-left: 25px;
    
}

.logout {
    
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 10px;
}

button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    overflow: hidden;
    border: 0;
    
}

button:active {
    width: 98px;
    height: 28px;
    border: 2px solid grey;
}

.cancelar {
    box-shadow: 0px 0px 20px 0px red inset;    
}

.aceptar {
    box-shadow: 0px 0px 20px 0px green inset;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    overflow: hidden;
    border: 0;
}

.aceptar:active {
	width: 98px;
    height: 28px;
    border: 2px solid grey;
}

.icon {
    
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 5px;
    
}

.imgCategoria {
    
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}

.imgProducto {
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    
}
