.contenido {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 25px;
}

button, input[type="submit"] {
    width: 75px;
}


button:active, input[type="submit"] {
    width: 72px;
    height: 28px;
    border: 2px solid grey;
}

input[type="text"] {
    width: 80%;
    padding-left: 5px;
}

.relative {
    width: 100%;
    text-align: center;
}

.botones {
    padding-top: 5px;
    text-align: center;
}

ul {
    
    padding: 0;
    margin: 0;
}

navbar {
    width: 20%;
}


#pedidos {
    width: 80%;
}

navbar ul {
    display: flex;
    flex-direction: column;
}

navbar ul li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px 0;
    border-top: 2px solid #2a0303;
    border-bottom: 2px solid #2a0303;
    border-left: 1px solid #2a0303;
    border-right: 1px solid #2a0303;
    background: linear-gradient(to bottom, #845129 0%, #d6baa3 50%, #d6baa3 51%, #845129 100%);
    box-shadow: 0px 0px 5px 0px #3e0404;
}

.activated {
    background-color: #845129;
    box-shadow: 0px 0px 15px 0px black inset;
}

.nombreUsuarioBarra {
    width: 100%;
    text-align: center;
}

.botonBorrar {
    vertical-align: middle;
}