<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Restaurant App</title>
        <meta name="Author" content="Juan Jose Fernandez Romero"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../Views/css/style.css">
        <script>
        window.onload = function() {
            
            // TimeOut para redirigir tras 5 segundos
            window.setTimeout(function(){ 
                window.location.href = "../../Controller/App/app.php";
            }, 5000);
        };
        </script>
    </head>
    <body>
        <div class="container">
            <div>Dirigase a Caja o espere a un camarero para efectuar el pago</div>
        </div>
    </body>
</html>