<!DOCTYPE html>
<html lang="es" ng-app="konamiCode"> 
    <head>
        <title>Restaurant App</title>
        <meta name="Author" content="Juan Jose Fernandez Romero"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="../../Views/img/burguer.svg">
        <link rel=icon href="../../Views/img/icon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="../../Views/css/style.css">
        <script type="text/javascript" src="../../Views/js/angular.min.js"></script>
        <script type="text/javascript" src="../../Views/js/jquery.js"></script>
        <script type="text/javascript" src="../../Views/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../Views/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../../Views/js/messages_es.min.js"></script>
        {% block header %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="../../Views/css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="../../Views/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../Views/css/jquery-ui.structure.min.css">
        <script type="text/javascript" src="../../Views/js/javascript.js"></script>
    </head>
    <body konami-code>
        <div class="container">
            <header>
                <img class="banner" src="../../Views/img/burguer.svg">
                <h2 class="tituloHeader">Mi Restaurante</h2>
                <div class="logout">{% if admin == true %}<a href="../../Controller/Views/views.php">Home</a>{% endif %}<a href="../../Controller/logout.php">Log-out</a></div>
            </header>
            <section class="contenido">
            {% block contenido %}
            {% endblock %}
            </section>
            <footer>
                <p class="autor">Aplicación creada por: <em>Juan Jose Fernandez Romero</em></p>    
            </footer>
        </div>
    </body>
</html>
