<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Restaurant App</title>
        <meta name="Author" content="Juan Jose Fernandez Romero"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../Views/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../Views/css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="../../Views/css/jquery-ui.theme.min.css">
        <script type="text/javascript" src="../../Views/js/jquery.js"></script>
        <script type="text/javascript" src="../../Views/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../Views/js/jquery.validate.min.js"></script>
        {% block header %}
        {% endblock %}
        <script type="text/javascript" src="../../Views/js/javascript.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h2 class="tituloHeader">Mi Restaurante</h2>
                <div class="logout"><a href="../../Controller/logout.php">Log-out</a></div>
            </header>
            <section class="contenido">
            {% block contenido %}
            {% endblock %}
            </section>
            <footer>
                <p class="autor">Aplicación creada por: <em>Juan Jose Fernandez Romero</em></p>    
            </footer>
        </div>
    </body>
</html>
