<!DOCTYPE html>
<html lang="es"> 
    <head>
        <title>Restaurant App</title>
        <meta name="Author" content="Juan Jose Fernandez Romero"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="../../Views/img/burguer.svg">
        <link rel="icon" href="../../Views/img/icon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="../../Views/css/style.css">
        <style>
            
            .contenido {
                margin: 0;
                padding: 1px 20px;
            }
            
            .contenido h2 {
                width: 50%;
                border-bottom: 4px double #641212;
            }
            
            .contenido ul {
                list-style: circle;
            }
        
        
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <img class="banner" src="../../Views/img/burguer.svg">
                <h2 class="tituloHeader">Mi Restaurante</h2>
            </header>
            <section class="contenido">
                <h2>Sobre la Aplicación</h2>
                <p>Esta aplicación es una aplicación creada para la gestión de un negocio hostelero. Sus principales funcionalidades son:</p>
                <ul>
                    <li>Gestión de productos y categorias de manera rapida y sencilla.</li>
                    <li>Gestión de usuarios</li>
                    <li>Aplicación para clientes para automatizar pedidos.</li>
                    <li>Visor y gestion de pedidos a Cocina</li>
                    <li>Centro de trabajo para administracion y venta en mostrador/caja.</li>
                </ul>
                <h2>About App</h2>
                <p>This App is an App created for hostelry business management. It's main features are:</p>
                <ul>
                    <li>Fast and simple products and categories management.</li>
                    <li>Users management.</li>
                    <li>Client's App for automated orders.</li>
                    <li>Kitchen's orders View and management.</li>
                    <li>Workspace for admin and Cash sales.</li>
                </ul>
            </section>
            <footer>
                <p class="autor">Aplicación creada por: <em>Juan Jose Fernandez Romero</em></p>    
            </footer>
        </div>
    </body>
</html>
